/*
Author: Vera Konigin
Contact: vera@groundedwren.com
File Description: Index.html styles
*/

html {
	height: 100vh;
}

body {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	max-width: 1920px;
	max-height: 1000px;

	display: flex;
	flex-direction: column;

	header {
		#mainHeaderRight {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			
			width: 100% !important;

			#asiDisplay {
				display: flex;
				flex-direction: column;
			}
		}

		#secGames {
			display: grid;
			grid-template-columns: auto auto auto;
			gap: 4px;
			
			> span, > h2 {
				grid-column: 1 / -1;
			}
			> span {
				font-size: 0.9em;
			}

			form {
				text-align: initial;
			}
			#formLoad {
				&:has([aria-controls="divLoadLocal"]:checked) #divLoadLocal {
					display: block;
				}
			}
			#formSave {
				&:has([aria-controls="divNewSave"]:checked) #divNewSave,
				&:has([aria-controls="divExistingSave"]:checked) #divExistingSave {
					display: block;
				}
			}
		}
	}

	@media (max-width: 1500px) {
		#mainHeader {
			grid-template-columns: auto 1fr 1fr;
		}
	}

	@media (max-width: 750px) {
		#mainHeader {
			grid-template-columns: 1fr !important;
			justify-items: center;
			
			#mainHeaderLeft, #mainHeaderRight {
				justify-self: auto;
			}

			#mainHeaderRight {
				flex-direction: column;
				justify-items: center;
				gap: 5px;
			}
		}
	}

	main {
		flex-grow: 1;
		min-height: 0;
		max-height: 1000px;

		padding-inline: 20px;

		display: grid;
		grid-template-columns: minmax(500px, 0.5fr) minmax(500px, 1fr);

		> section {
			min-height: 0px;
			max-height: 100%;
			padding: 5px;

			display: flex;
			flex-direction: column;

			> .scroll-container {
				flex-grow: 1;
				overflow-y: auto;
			}
		}

		#tblBoard {
			max-width: 750px;
			margin-inline: auto;
			
			th, thead {
				background-color: var(--accent-color);
				text-align: center;
				min-width: 35px;
			}
			thead {
				border-bottom: none;
			}

			tbody {
				tr:nth-child(odd) {
					td:nth-child(odd) {
						background-color: var(--board-square-dark-color);
					}
					td:nth-child(even) {
						background-color: var(--board-square-light-color);
					}
				}

				tr:nth-child(even) {
					td:nth-child(even) {
						background-color: var(--board-square-dark-color);
					}
					td:nth-child(odd) {
						background-color: var(--board-square-light-color);
					}
				}

				td {
					> div {
						aspect-ratio: 1 / 1;
						display: flex;
					}
					gw-icon {
						width: 50%;
						height: 50%;
						margin: auto;

						svg {
							width: 100%;
							height: 100%;

							&.black {
								fill: var(--board-piece-black-color);
							}
							&.white {
								fill: var(--board-piece-white-color);
							}
							&.invert-x {
								transform: scaleX(-1);
							}
						}
					}
				}
			}
		}
	}

	footer {
		figure {
			text-align: center;
			margin: 5px;
		}
	}
}

form {
	h1, h2, h3, h4, h5, h6 {
		margin-block: 0;
		margin-block-start: -4px;
		margin-inline-start: -4px;
		padding-inline: 5px;
		border-radius: 0 10px 10px 0;
		background-color: var(--accent-color);
		word-break: keep-all;
		text-align: start;
	}

	.footer {
		width: 100%;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 5px;
	}
}

dialog {
	padding: 4px;
	&::backdrop {
		background-color: var(--background-color-2);
		opacity: 0.75;
	}
}

@media(max-width: 1000px) {
	label:has(#cbxVertLayout) {
		display: none;
	}

	body {
		max-height: initial;

		main {
			display: block;
			min-height: auto;
			padding-inline: 0;
		}
	}
}

body:has(#cbxVertLayout:checked) {
	max-height: initial;

	main {
		display: block;
		min-height: auto;
		
		max-width: 2000px;
		margin-inline: auto;

		> section h2 {
			text-align: center;
		}

		#secBoard {
			min-width: 750px;
			margin-inline: auto;
		}
	}
}

@media print {
	:not(#tblBoard, #tblBoard *, :has(#tblBoard)) {
		display: none !important;
	}
}