/*
Author: Vera Konigin
Contact: vera@groundedwren.com
File Description: Index.html styles
*/

html {
	height: 100vh;
}

body {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	max-width: 1920px;
	max-height: 1000px;

	display: flex;
	flex-direction: column;

	header {
		#mainHeaderRight {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			
			width: 100% !important;

			#asiSettings {
				display: flex;
				flex-direction: column;
			}
		}

		#secGames {
			display: grid;
			grid-template-columns: auto auto auto;
			gap: 4px;
			
			> span, > h2 {
				grid-column: 1 / -1;
			}
			> span {
				font-size: 0.9em;
			}

			form {
				text-align: initial;

				.tab-panel :is(input, select) {
					width: 100%;
				}
			}
			#formLoad {
				&:has([aria-controls="divLoadLocal"]:checked) #divLoadLocal {
					display: block;
				}
			}
			#formSave {
				&:has([aria-controls="divNewSave"]:checked) #divNewSave,
				&:has([aria-controls="divExistingSave"]:checked) #divExistingSave {
					display: block;
				}
			}
		}
	}

	@media (max-width: 1500px) {
		#mainHeader {
			grid-template-columns: auto 1fr 1fr;
		}
	}

	@media (max-width: 750px) {
		#mainHeader {
			grid-template-columns: 1fr !important;
			justify-items: center;
			
			#mainHeaderLeft, #mainHeaderRight {
				justify-self: auto;
			}

			#mainHeaderRight {
				flex-direction: column;
				justify-items: center;
				gap: 5px;
			}
		}
	}

	main {
		flex-grow: 1;
		min-height: 0;
		max-height: 1000px;

		padding-inline: 20px;

		display: grid;
		grid-template-columns: minmax(500px, 0.5fr) minmax(500px, 1fr);

		> section {
			min-height: 0px;
			max-height: 100%;
			padding: 5px;

			display: flex;
			flex-direction: column;

			> .header {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: baseline;
			}

			> .scroll-container {
				flex-grow: 1;
				overflow-y: auto;
			}
		}

		#secBoard {
			> .header {
				margin-inline-end: 5px;
			}
		}

		#tblBoard {
			table-layout: fixed;
			max-width: 750px;
			margin-inline-end: 5px;

			width: calc(100% - 5px);

			col {
				width: 1.5em;
			}
			
			th, thead {
				background-color: var(--accent-color);
				text-align: center;
				min-width: 35px;
			}
			thead {
				border-bottom: none;

				td {
					border: none;
				}
			}

			tbody {
				.left-border {
					min-width: auto;
					> span {
						writing-mode: vertical-lr;
						display: inline-block;
						min-height: 150px;
						transform: rotate(180deg);
					}
				}

				td[aria-labelledby~="spnSquareWhiteLabel"] {
					background-color: var(--board-square-light-color);
				}
				td[aria-labelledby~="spnSquareBlackLabel"] {
					background-color: var(--board-square-dark-color);
				}

				td {
					> button {
						aspect-ratio: 1 / 1;
						display: flex;
						width: 100%;
						background-color: transparent;
						border: none;
						position: relative;
						overflow: clip;

						&:hover, &:focus-within {
							outline-width: 4px;
							outline-color: var(--focus-color);
							outline-style: solid;
							outline-offset: 1px;
							position: relative;
							z-index: 100;
						}

						&[aria-pressed="true"] {
							outline: 5px solid var(--selected-color) !important;
							background-color: color-mix(in srgb, var(--selected-color) 8%, transparent);
							outline-offset: -2px;

							&:focus {
								box-shadow: 0px 0px 0px 5px var(--focus-color);
							}
						}
					}

					.icon-span {
						display: contents;
					}

					gw-icon.piece {
						width: 50%;
						height: 50%;
						margin: auto;

						svg {
							width: 100%;
							height: 100%;
							min-width: 16px;
							min-height: 16px;

							&.black {
								fill: var(--board-piece-black-color);
							}
							&.white {
								fill: var(--board-piece-white-color);
							}
							&.invert-x {
								transform: scaleX(-1);
							}
						}
					}

					gw-icon.earmark {
						display: none;

						position: absolute;

						svg {
							width: var(--earmark-size);
							height: var(--earmark-size);
						}
						
						&.in-check {
							top: calc(100% - (var(--earmark-size) * 2));
							left: calc(100% - var(--earmark-size));
						}
						&.movable {
							top: 0;
							left: 0;
						}
						&.threatening {
							top: 0;
							left: calc(100% - var(--earmark-size));
						}
						&.move-to-able {
							top: calc(100% - var(--earmark-size));
							left: 0;
						}
						&.threatened {
							top: calc(100% - var(--earmark-size));
							left: calc(100% - var(--earmark-size));
						}
						&.does-capture {
							top: calc(100% - var(--earmark-size));
							left: calc(100% - (var(--earmark-size) * 2));
						}
						&.in-check {
							top: calc(100% - (var(--earmark-size) * 2));
							left: calc(100% - var(--earmark-size));
						}
						&.does-castle {
							top: calc(100% - (var(--earmark-size) * 2));
							left: 0;
						}
					}
					&.in-check gw-icon.in-check,
					&.movable gw-icon.movable,
					&.threatening gw-icon.threatening,
					&.move-to-able gw-icon.move-to-able,
					&.threatened gw-icon.threatened,
					&.does-capture gw-icon.does-capture,
					&.in-check gw-icon.in-check,
					&.does-castle gw-icon.does-castle {
						display: block;
					}
				}
			}
		}

		:has(#tblBoard:not(:focus-within)) {
			#asiTblBoard > * {
				visibility: hidden;
			}
		}
		#asiTblBoard {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			gap: 2px;
		}
	}

	footer {
		figure {
			text-align: center;
			margin: 5px;
		}
	}
}

main:has(.board-square-button[aria-pressed="true"]) { 
	#detailsArticles {
		#artSelection {
			#pSelPlaceholder {
				display: none;
			}
			#divSelInfo {
				display: block;
			}
		}
	}
}

#detailsArticles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-start;
	gap: 10px;

	#artHistory {
		display: flex;
		flex-direction: column;
		gap: 4px;

		gw-icon.piece {
			background-color: #757575;
			svg.black {
				fill: black;
			}
			svg.white {
				fill: white;
			}
		}
		
		#moveButtons {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 4px;

			button {
				display: flex;
				align-items: center;
			}
		}
		#divCurMoveContainer {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			justify-content: flex-end;
			gap: 4px;

			#divCurMove {
				flex-grow: 1;
				text-align: center;
			}
		}
	}

	#artSelection {
		min-width: 225px;
		#pSelPlaceholder {
			display: block;
		}
		#divSelInfo {
			display: none;
		}

		#divSelInfoPieceName {
			text-transform: capitalize;
		}
	}

	#artLegend {
		min-width: 200px;
		display: flex;
		flex-direction: column;
		gap: 5px;

		th, td {
			padding: 2px;
			text-align: center;
		}

		table {
			td > a {
				display: inline-block;
				width: 100%;
				height: 100%;
				min-width: 24px;
				min-height: 24px;
				background-color: var(--link-background-color);
			}
		}
	}
}

form, article {
	padding: 4px;
	border-inline-start: 3px solid var(--accent-color);
	padding-inline-start: 6px;
	background-color: var(--background-color-2);

	&[popover] {
		border: 1px solid var(--border-color);
	}

	h1, h2, h3, h4, h5, h6 {
		margin-block: 0;
		margin-block-start: -4px;
		margin-inline-start: -6px;
		padding-inline: 5px;
		margin-block-end: 4px;
		border-radius: 0 10px 10px 0;
		background-color: var(--accent-color);
		word-break: keep-all;
		text-align: start;
	}

	.footer {
		width: 100%;
		margin-top: 4px;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 5px;

		&.spread {
			justify-content: space-between;
		}
	}

	article {
		border: none;
		background-color: color-mix(in oklab, var(--background-color-2) 50%, var(--background-color) 50%);
		h1, h2, h3, h4, h5, h6 {
			background-color: color-mix(in oklab, var(--accent-color) 70%, var(--background-color) 30%);
			border-radius: 0;
			margin-inline-end: -4px;
		}
	}
}

dialog {
	border: 1px solid var(--border-color);
	padding: 0;

	&::backdrop {
		background-color: var(--background-color-2);
		opacity: 0.75;
	}

	> form {
		border: none;
	}
}

.link-list {
	display: flex;
	flex-direction: column;

	list-style: none;
	padding: 0;
	margin: 0;
	gap: 4px;

	> li {
		min-height: 24px;
		min-width: 24px;

		display: flex;

		> a {
			background-color: var(--link-background-color);
			flex-grow: 1;
			text-align: center;
		}
	}
}

.cell-list {
	margin-block-end: 4px;
	&:has(> .link-list:empty)::after {
		content: "-";
	}
}

body:has(#cbxVertLayout:checked) {
	max-height: initial;

	main {
		display: block;
		min-height: auto;
		padding-inline: 0;
		
		max-height: initial;
		max-width: 2000px;
		margin-inline: auto;

		.scroll-container {
			overflow-y: initial !important;
		}

		> section h2 {
			text-align: center;
		}

		#detailsArticles {
			justify-content: center;
		}

		#secBoard {
			min-width: 750px;
			margin-inline: auto;
		}
	}
}

@media(max-width: 1000px) {
	label:has(#cbxVertLayout) {
		display: none;
	}

	body {
		max-height: initial;

		main {
			display: block;
			min-height: auto;
			padding-inline: 0;

			max-height: initial;

			.scroll-container {
				overflow-y: initial !important;
			}

			> section h2 {
				text-align: center;
			}

			#detailsArticles {
				justify-content: center;
			}
	
			#secBoard {
				max-width: 750px;
				min-width: auto !important;
				margin-inline: auto;
			}
		}
	}
}

@media(max-width: 450px) {
	gw-icon.earmark {
		&.does-capture {
			opacity: 0;
		}

		--earmark-size: 12px;
	}
}

@media print {
	:not(#tblBoard, #tblBoard *, :has(#tblBoard)) {
		display: none !important;
	}
}